<h2 id="PodMembers">Meet the Pod</h2>
<div class="card-container">
    {% for item in site.data.fellows %}
    <div class="card">
        <div class="info">
            <p class="title"> {{ item.name }}</p>
            <p class="location"> {{ item.location }}</p>
            <div class="social-link">
                <div class="twitter">
                    {% if item.twitter %}
                    <a href="{{item.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                    {% else %}
                    <i class="fab fa-twitter" style="background-color: grey;"></i>
                    {% endif %}
                </div>
                <div class="linkedin">
                    {% if item.linkedin %}
                    <a href="{{item.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                    {% else %}
                    <i class="fab fa-linkedin" style="background-color: grey;"></i>
                    {% endif %}
                </div>
                <div class="github">
                    <a href="{{item.github}}" target="_blank"> <i class="light-only fab fa-github"></i> </a>
                    <a href="{{item.github}}" target="_blank"> <i class="dark-only darkgithub fab fa-github"></i> </a>
                </div>
                <div class="resume">
                    <a href="{{item.resume}}" target="_blank"><i class="light-only far fa-file-alt"></i></a>
                    <a href="{{item.resume}}" target="_blank"><i class="dark-only darkresume far fa-file-alt"></i></a>
                </div>
            </div>
            <div class="stats-container">
                <div class="stats">
                    <span class="stats-content">Commits:</span> <span class="adaptive-text">{{item.commits}}</span>
                </div>
                <div class="stats">
                    <span class="stats-content">Reviews:</span> <span class="adaptive-text">{{item.reviews}}</span>
                </div>
                <div class="stats">
                    <span class="stats-content">Issues:</span> <span class="adaptive-text">{{item.issues}}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>