<footer class="footer-all p-2 pt-4">
    <ul class="list-inline mx-auto text-center">
        <li class="list-inline-item"><a href="/" class="adaptive-text">Blog</a></li>
        <li class="list-inline-item"><a href="/" class="adaptive-text">About</a></li>
        <li class="list-inline-item"><a href="/" class="adaptive-text">Socials</a></li>
        <li class="list-inline-item"><a href="/" class="adaptive-text">Projects</a></li>
        <li class="list-inline-item"><a href="https://github.com/MLH-Fellowship/jan-2022-prep-portfolio"
                class="adaptive-text">Repository</a>
        </li>
    </ul>
    <p class="mx-auto text-center">MLH Prep © 2022</p>
</footer>