<header class="nav-bar sticky">
    <div class="nav-content ">

        <div class="" id="nc">
            <!--nav-container -->

            <div class="" id="nc1">
                <!-- nav-column -->
                <!--nc1 -->
                <a href="{{ '/' | relative_url }}">
                    <div class="nav-logo">
                        <img src="./assets/img/mlh-prep.png" />
                    </div>
                </a>

            </div>
            <div class="nav-column " id="nc2">
                <!--nc2 -->
                <ul>
                    <li>
                        <a href="#MeetThePod-h2">Meet the Pod</a>
                    </li>
                    <li>
                        <a href="#PodProjects">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<script src="assets/js/navbar.js"></script>