<header class="nav-bar">
    <div class="nav-content">

      <a href="{{ '/' | relative_url }}">
        <div class="nav-logo">
            <img src="./assets/img/mlh-prep.png" />
        </div>
      </a>

      <ul class="nav-list" id="my-nav-list">
        <li><a href="#PodMembers">Meet the Pod!</a></li>
        <li><a href="#PodProjects">Projects</a></li>
        <li><a href="#GCCheetahsWorld">GCCheetahs World</a></li>
      </ul> 

      <a href="#" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>

    </div>
</header>

<script>
  /* Toggle between adding and removing the "responsive" class to nav-list when the user clicks on the icon */
  function myFunction() {
    console.log("hello");
    var x = document.getElementById("my-nav-list");
    if (x.className === "nav-list") {
      x.className += " responsive";
    } else {
      x.className = "nav-list";
    }
  } 
</script>
