<div class="control switch switch-lg ml-4">
    <div id="dark-theme-toggle" class="adaptive-theme-color adaptive-shadow adaptive-text-reverse p-3">
        <!-- OnClick: Registered in assets/js/toggle.js -->
        <div class="v-center mx-1" id="dark-mode-status-icon">
            [Icon]
        </div>
        <div class="v-center mx-1 mobile-hidden" id="dark-mode-status-indicator">
            [Status]
        </div>
    </div>
    <script src="/assets/js/toggle.js"></script>
</div>

<style>
    .y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    #dark-theme-toggle {
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        user-select: none;
        cursor: pointer;
    }
</style>