.blog-card {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0 !important;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    position: relative;

    .overlay {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #fff, rgba(0, 0, 0, 0));

        .info {
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 0.7em;
        }
    }

    .overlay:hover {
        background: transparent;
        transition: background 500ms linear;

        .info {
            background: #fff;
        }
    }
}


.blog-container {
    padding: 1em;
    margin: 0 auto;
}
