.nav-bar {
  width: 100%;
  background-color: #133667;
  font-family: "Poppins", serif;
  font-weight: 700 !important;
  padding-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
  display: inline;
  align-items: center;
}

.nav-logo img {
  width: 200px;
}

.nav-list {
  list-style-type: none;
  margin: 0;

  // TODO: This does not add padding-bottom
  padding: 0 20px;
  overflow: hidden;
  float: right;
}

.nav-list li {
  float: left;
  margin: 0 5px;
}

.nav-list li a {
  display: inline-block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  // background-color: #dddddd;
}

.nav-list li a:hover {
  background-color: rgb(40, 61, 117);
  border-radius: 9px;
}

.nav-content nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
}
