#animation-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000000000;
    pointer-events: all;
    opacity: 1;
}

.animation-hidden {
    display: none;
}

.cursor-wait {
    cursor: wait;
}

#animation-content {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.logo-image-wrapper {
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    margin: auto;
}

.logo-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
