.profile {
    background-color: #133667 !important;
    text-align: center;
    height: fit-content;
    padding: 1rem;

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
        padding-bottom: 28px;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: inline;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .profile-wrapper {
        padding: 1rem;
        max-width: 200px;
        max-height: 200px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .profile-picture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: fit-content;
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
}
