---
layout: default
---
<div class="banner">
    <div class="container project-header">
        <div>
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/mlh-prep.png" style="width:100px" alt="mlh-prep-banner"/>
                </a>
            </div>
            <div class="title" style="font-size: 40px;">
                {{ page.title }}
            </div>
            <div class="title" style="font-size: 20px;">
                {{page.author}}
            </div>
            <div class="title" style="font-size: 15px;">
                Published on <span class="blog-date">{{page.date | date_to_string}}</span>
            </div>

        </div>
        <a class="btn btn-outline-light" href="/">Go To Home</a>
    </div>
</div>

<div class="container blog-container">
    {{ content }}
</div>
