---
layout: default
---
<div class="banner">
    <div class="container project-header">
        <div>
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/mlh-prep.png" style="width:100px" />
                </a>
            </div>
            <div class="title" style="font-size: 40px;">
                {{ page.title }}
            </div>
            <div class="title" style="font-size: 20px;">
                {{page.author}}
            </div>
            <div class="title" style="font-size: 15px;">
                Published on {{page.date}}
            </div>

        </div>
        <a class="btn btn-outline-light" href="/">Go To Home</a>
       
    </div>
</div >
<div class="container">
    {{ content }}
</div>

</div>

